@import url("StyleLarge.css") only screen and (min-width: 1400px);
@import url("StyleMedium.css") only screen and (max-width: 1399px) and (min-width: 950px);
@import url("StyleSmall.css") only screen and (max-width: 949px);

body footer h4 {
    text-align: center;
    color: #919191;
    font-size: 20px;
    font-family: 'Nunito-SemiBold';
}