@font-face {
  font-family: 'Nunito-Regular';
  src: url('Content/Fonts/NunitoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Bold';
  src: url('Content/Fonts/NunitoSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-SemiBold';
  src: url('Content/Fonts/NunitoSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Light';
  src: url('Content/Fonts/NunitoSans-Light.ttf') format('truetype');
}



body {
  background-color: #1E1E1E;
  zoom: 0.7;
}

nav {
  position: fixed;
  width: 1920px;
  height: 100px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: #0A0A0A;
  opacity: 75%;
  top: -9px;

}

nav aside,
nav a {
  display: inline-block;
  padding: 20px;
  color: #E1E1E1;
  font-size: 35px;
  font-family: 'Nunito-Light';
}

nav a {
  left: 80px;
  text-decoration: none;
  position: relative;
}

nav a:hover {
  color: #575DFF
}

#title {
  z-index: -1;
  position: relative;
  margin: 0 auto;
  height: 700px;
  width: auto;
  text-align: center;
  background-image: url(Content/Code2.png);
  color: #E1E1E1;
  top: -9px;
}

#Line {
  fill: transparent;
  stroke: rgba(87, 93, 255, 1);
  stroke-width: 5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Line_2 {
  overflow: visible;
  position: absolute;
  width: 138px;
  height: 5px;
  left: 160px;
  top: 600px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.Line_3 {
  overflow: visible;
  position: absolute;
  width: 138px;
  height: 5px;
  left: 663px;
  top: 600px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.Line_4 {
  overflow: visible;
  position: absolute;
  width: 138px;
  height: 5px;
  left: 1119px;
  top: 600px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.Line_5 {
  overflow: visible;
  position: absolute;
  width: 138px;
  height: 5px;
  left: 1576px;
  top: 600px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}


#title h1 {
  letter-spacing: 3px;
  font-family: 'Nunito-Bold';
  padding-top: 110px;
  font-size: 90px;
}

#title h2 {
  position: relative;
  font-family: 'Nunito-Regular';
  font-size: 80px;
  bottom: 75px;
}

#title img {
  position: relative;
  bottom: 110px;
}

#title p {
  position: relative;
  font-family: 'Nunito-SemiBold';
  font-size: 32px;
  white-space: wrap;
  width: 500px;
  bottom: 70px;
  margin: 0 auto;
}

#intro {
  z-index: -1;
  position: relative;
  width: auto;
  height: 200px;
  margin: 0 auto;
  background-color: #343434;
  bottom: 50px;
}

#intro h3 {
  margin: 0 auto;
  top: 25px;
  width: 700px;
  position: relative;
  color: #E1E1E1;
  font-size: 35px;
  font-family: 'Nunito-SemiBold';
  text-align: center;
}


#intro figure figcaption{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #E1E1E1;
  font-size: 35px;
  white-space: nowrap;
  font-family: 'Nunito-Regular';
  margin-left: 35px;
}

#intro figure img {
  margin-top: 50px;
  width: 110%;
}

#SkillImg {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.Lines{
  display: none
}

#skillDescription {
  display: flex;
  justify-content: space-around;
}

#intro p {
  text-align: center;
  position: relative;
  color: #E1E1E1;
  font-size: 20px;
  width: 200px;
  font-family: 'Nunito-SemiBold';
}

#personalProjects {
  z-index: -1;
  position: relative;
  margin: 0 auto;
  width: auto;
  bottom: 50px;
}

#personalProjects p {
  text-align: left;
  position: relative;
  color: #E1E1E1;
  font-size: 25px;
  font-family: 'Nunito-SemiBold';
}

#personalProjects .skillCaption {
  top: 250px !important;
}

#projectBlocks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#Java {
  color: #F8981D;
  background-color: unset;
}

#Python {
  color: #3771A2;
  background-color: unset;
}

#Csharp {
  color: #A27BDD;
  background-color: unset;
}

#Cplus {
  color: #659AD2;
  background-color: unset;
}

#HTML {
  color: #F16529;
  background-color: unset;
}

#CSS {
  color: #2965F1;
  background-color: unset;
}

#creditBanner {
  position: relative;
  background-color: #343434;
  width: auto;
  height: 125px;
  top: 350px;
  margin-top: 100px;
  margin-bottom: 25px;
}

#creditBanner h1 {
  position: relative;
  text-align: center;
  color: #E1E1E1;
  font-size: 70px;
  font-family: 'Nunito-Regular';
  width: auto;
  height: 159px;
  top: 17px;
}

.ImageBlocks {
  padding-top: 75px;
  top: 300px;
  position: relative;
}

.ImgFigcaption {
  color: #E1E1E1;
  position: relative;
  text-align: center;
  font-size: 40px;
  font-family: 'Nunito-Regular';
  padding-top: 33px;
}

.ImgCaption {
  width: 460px;
  left: 100px;
}

#creditedProjects p {
  text-align: left;
  position: relative;
  color: #E1E1E1;
  font-size: 25px;
  font-family: 'Nunito-SemiBold';
}

figure h3 {
  position: relative;
  font-size: 25px;
  font-family: 'Nunito-SemiBold';
  left: 45%;
  right: 55%;
  margin: 0 auto;
  color: rgb(112, 106, 106);
}

#creditedProjects {
  z-index: -1;
  position: relative;
  margin: 0 auto;
  width: auto;
  bottom: 50px;
}

.CreditedImgCaption {
  text-align: center;
  position: relative;
  color: #E1E1E1;
  font-size: 25px;
  font-family: 'Nunito-SemiBold';
  display: inline-block;
  width: 460px;
  padding: 0 245px;
  padding-right: 250px;
  top: 225px;
}

footer {
  padding-top: 400px;
}
